<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>new_memo</title>
</head>
  <body>
    <h1>メモアプリ</h1>
    <form action="/new" method="POST">
      <input type="text" name="content" id="content"/>
      <input type="submit" value="保存">
    </form>
  </body>
</html>