<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>show_memo</title>
</head>
  <body>
    <h1>メモアプリ</h1>
    <p>メモ<%= @number%></p>
    <p><%= @file_content%></p>
    <a href = <%= "/edit_memo/#{@number}"%>>変更</a>
    <form action=<%= "/memo/#{@number}"%> >
      <input type="hidden" name="_method" value="delete"/>
      <input type="submit" value="削除">
    </form>
  </body>
</html>